@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Identity
@using LastMinute.Consultancy.Domain.Entities

@inject AuthenticationStateProvider AuthenticationStateProvider
@inject SignInManager<ApplicationUser> SignInManager
@inject NavigationManager Navigation

<AuthorizeView>
    <Authorized>
        <ul class="navbar-nav">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-dark" href="#" role="button" data-bs-toggle="dropdown">
                    <i class="fas fa-user me-2"></i>@context.User.Identity?.Name
                </a>
                <ul class="dropdown-menu dropdown-menu-end">
                    <li><a class="dropdown-item" href="/Account/Manage">Manage Account</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li>
                        <a class="dropdown-item" href="/Account/Logout">
                            <i class="fas fa-sign-out-alt me-2"></i>Logout
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </Authorized>
    <NotAuthorized>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link text-dark" href="/Account/Register">Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" href="/Account/Login">Login</a>
            </li>
        </ul>
    </NotAuthorized>
</AuthorizeView>

