@using Microsoft.AspNetCore.Components.Authorization
@rendermode InteractiveServer

<AuthorizeView>
    <Authorized>
        <ul class="navbar-nav flex-grow-1">
            <li class="nav-item">
                <NavLink class="nav-link text-dark" href="/" Match="NavLinkMatch.All">
                    <i class="fas fa-tachometer-alt me-2"></i>Dashboard
                </NavLink>
            </li>
            
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-dark" href="#" role="button" data-bs-toggle="dropdown">
                    <i class="fas fa-briefcase me-2"></i>Projects
                </a>
                <ul class="dropdown-menu">
                    <li><NavLink class="dropdown-item" href="/projects">All Projects</NavLink></li>
                    <li><NavLink class="dropdown-item" href="/projects/create">New Project</NavLink></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><NavLink class="dropdown-item" href="/team-planning">Team Planning</NavLink></li>
                </ul>
            </li>
            
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-dark" href="#" role="button" data-bs-toggle="dropdown">
                    <i class="fas fa-users me-2"></i>Team
                </a>
                <ul class="dropdown-menu">
                    <li><NavLink class="dropdown-item" href="/employees">Employees</NavLink></li>
                    <li><NavLink class="dropdown-item" href="/roles">Roles</NavLink></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><NavLink class="dropdown-item" href="/assignments">Assignments</NavLink></li>
                </ul>
            </li>
            
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-dark" href="#" role="button" data-bs-toggle="dropdown">
                    <i class="fas fa-clock me-2"></i>Time Tracking
                </a>
                <ul class="dropdown-menu">
                    <li><NavLink class="dropdown-item" href="/time-entries">My Time Entries</NavLink></li>
                    <li><NavLink class="dropdown-item" href="/time-entries/create">Log Time</NavLink></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><NavLink class="dropdown-item" href="/time-entries/approval">Time Approvals</NavLink></li>
                </ul>
            </li>
            
            <AuthorizeView Policy="ManagerOrAdmin" Context="managerContext">
                <Authorized>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-dark" href="#" role="button" data-bs-toggle="dropdown">
                            <i class="fas fa-building me-2"></i>Clients
                        </a>
                        <ul class="dropdown-menu">
                            <li><NavLink class="dropdown-item" href="/clients">All Clients</NavLink></li>
                            <li><NavLink class="dropdown-item" href="/clients/create">New Client</NavLink></li>
                        </ul>
                    </li>
                    
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-dark" href="#" role="button" data-bs-toggle="dropdown">
                            <i class="fas fa-chart-line me-2"></i>Management
                        </a>
                        <ul class="dropdown-menu">
                            <li><NavLink class="dropdown-item" href="/overheads">Overheads</NavLink></li>
                            <li><NavLink class="dropdown-item" href="/deliverables">Deliverables</NavLink></li>
                        </ul>
                    </li>
                    
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-dark" href="#" role="button" data-bs-toggle="dropdown">
                            <i class="fas fa-file-invoice-dollar me-2"></i>Finance
                        </a>
                        <ul class="dropdown-menu">
                            <li><NavLink class="dropdown-item" href="/invoices">All Invoices</NavLink></li>
                            <li><NavLink class="dropdown-item" href="/invoices/create">Create Invoice</NavLink></li>
                            <li><NavLink class="dropdown-item" href="/invoices/generate">Generate from Time</NavLink></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><NavLink class="dropdown-item" href="/invoices/overdue">Overdue Invoices</NavLink></li>
                        </ul>
                    </li>
                </Authorized>
            </AuthorizeView>
        </ul>
    </Authorized>
    <NotAuthorized>
        <ul class="navbar-nav flex-grow-1">
            <li class="nav-item">
                <NavLink class="nav-link text-dark" href="/" Match="NavLinkMatch.All">Home</NavLink>
            </li>
        </ul>
    </NotAuthorized>
</AuthorizeView>

