@page "/Account/AccessDenied"

<PageTitle>Access Denied - ProjeX</PageTitle>

<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="alert alert-warning text-center">
            <h2><i class="fas fa-exclamation-triangle"></i></h2>
            <h4>Access Denied</h4>
            <p>You do not have permission to access this resource.</p>
            <a href="/" class="btn btn-primary">Return to Home</a>
        </div>
    </div>
</div>